
<div class="card" style="width: 18rem;">
  <img src="https://api.lorem.space/image?w=150&h=180" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @event.name %></h5>
    <p class="card-text">This is in <%= @event.location %> on the <%= @event.date %>. <br> Event created by <%= @event.creator.email %> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>