<h1> ALL OF OUR EVENTS </h1>

<div id="Events">
  <% @events.each do |event| %>
    <p>
      <h3> <%= event.name %> by <%= event.creator.email %> 
      <%= link_to "Show this event", event %>
      </h3>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>